
.boxcenter{
    width:80%;
    margin: 0 auto;
}
header{
    border: 1px solid #000;
    width: 100%;
    height:100px;
}
.mb{
margin-bottom: 5px;
}
nav{
    border: 1px solid #000;
    width: 100%;
    height: 70px;
}
.boxbody{
    width: 100%;
    min-height: 600px;
    border: 1px solid #000;
}
article{
    width: 20%;
    min-height: 600px;
    background-color: orange;
    float: left;
}
 article ul li {
    list-style: none;
    padding: 10px 0;

}
article a {
    text-decoration: none;
    color:#000;
    font-size: 30px;
}

aside{
    width: 80%;
    min-height: 600px;
    background-color: #fff;
    float: left;
}
footer{
    border: 1px solid #000;
    width: 100%;
    height: 200px;
}